<%= link_to "Create Group", new_group_path %>


<ul>
  <% @groups.each do |group| %>
    <li>
      <%= link_to group.name, group %>
      -
      <%= group.description %>
      <% if group.members.include? current_user %>
        <%= button_to "Leave Group" %>
      <% else%>
        <%= button_to "Join Group", group_group_memberships_path(group) %>
      <% end %>
    </li>
  <% end %>
</ul>
