<h1>Pixtr says Hi</h1>

<%= link_to "Make a new gallery", new_gallery_path %>

<ul>
  <% @galleries.each do |gallery| %>
    <li>
      <%= link_to gallery.name, gallery %> - <%= gallery.description %>
      <% if gallery.user == current_user %>
        <%= link_to "EDIT", edit_gallery_path(gallery) %>

        <%= form_for gallery, method: :delete do |form| %>
          <%= form.submit "Delete Gallery" %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
