<h1>Pixtr says Hi</h1>


<a href="/galleries/new">Make a new gallery</a>

<ul>
  <% @galleries.each do |gallery| %>
    <li>
      <%= link_to gallery.name, gallery %> - <%= gallery.description %>

      <%= link_to "EDIT", edit_gallery_path(gallery) %>

      <%= form_for gallery, method: :delete do |form| %>
        <%= form.submit "Delete Gallery" %>
      <% end %>
    </li>
  <% end %>
</ul>
