<h1>Pixtr says Hi</h1>

<a href="/galleries/new">Make a new gallery</a>

<ul>
  <% @galleries.each do |gallery| %>
    <li>
      <a href="/galleries/<%= gallery.id %>">
        <%= gallery.name %>
      </a>
      -
      <%= gallery.description %>
      <a href="/galleries/<%= gallery.id %>/edit">edit</a>
      <form action="/galleries/<%= gallery.id %>" method="POST">

        <input type="hidden" name="_method" value="DELETE" />
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

        <div>
          <input type="submit" value="Delete Gallery" />
        </div>
      </form>
    </li>
  <% end %>
</ul>
