<h2>This is the <%= @gallery.name %> page</h2>

<h2>Its full of <%= @gallery.description %></h2>

<%= link_to "New Image", new_gallery_image_path(@gallery) %>

<ul class="grid columns-3">
  <% @gallery.images.each do |image| %>
    <li><%= image_tag image.url %>
      <div>
        <%= link_to image.name, gallery_image_path(@gallery, image) %></li>
      </div>
    <% end %>
</ul>
