<h2>This is the <%= @image.name %> photo</h2>

<%= link_to "Back to gallery", @gallery %>


<%= form_for [@image.gallery, @image] do |form| %>
  <%= form.collection_check_boxes(:group_ids, Group.all, :id, :name) %>
  <%= form.submit %>
<% end %>

<div>
<%= image_tag @image.url %>
</div>

<%= link_to "Edit this image", edit_gallery_image_path(@gallery, @image) %>

<% if current_user.likes?(@image) %>
  <%= button_to "Unlike this image", image_like_path(@image), method: :delete %>
<% else %>
  <%= button_to "Like this image", image_like_path(@image) %>
<% end %>

<ul>
Likes <%= @image.likes.count %>
<% @image.likes.each do |like| %>
  <li><%= like.user.email %> </li>
<% end %>
</ul>



  <% @comments.each do |comment| %>
    <%= render "comments/comment", comment: comment %>
  <% end %>

<%= form_for [@image, @comment] do |form| %>
  <%= render "error_messages", target: @comment %>
  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>
  <%= form.submit %>
<% end %>

