<h2>This is the <%= @image.name %></h2>

<%= link_to "Back to gallery", @gallery %>

<div>
<%= image_tag @image.url %>
</div>

<%= link_to "Edit this image", edit_gallery_image_path(@gallery, @image) %>

<ul>
  <% @comments.each do |comment| %>
    <div>
      <li>
        <strong><%= comment.user.email %></strong> - <%= comment.body %>
        (<%= time_ago_in_words  comment.created_at %> ago)
      </li>
    </div>
  <% end %>
</ul>

<%= form_for [@image, @comment] do |form| %>
  <%= render "error_messages", target: @comment %>
  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>
  <%= form.submit %>
<% end %>
