<%= link_to "Back to gallery", @gallery %>

<h2>This is the <%= @image.name %> photo</h2>


<%= form_for [@image.gallery, @image] do |form| %>
  <strong>Groups: </strong><%= form.collection_check_boxes(:group_ids, Group.all, :id, :name) %>
<div>
  <%= form.submit "Group Image" %>
</div>
<% end %>

<br />
<%= form_for [@gallery, @image] do |form| %>
  <strong>Tags: </strong><%= form.text_field :tag_words, size: 70 %>
<div>
  <%= form.submit "Add your own tags" %>
</div>
<% end %>

<div>
  <%= image_tag @image.url %>
</div>


<% if @gallery.user == current_user %>
  <%= link_to "Edit this image", edit_gallery_image_path(@gallery, @image) %>
<%end %>

<% if current_user.likes?(@image) %>
  <%= button_to "Unlike this image", image_like_path(@image), method: :delete %>
<% else %>
  <%= button_to "Like this image", image_like_path(@image) %>
<% end %>

<ul>
  Likes <%= @image.likes.count %>
<% @image.likes.each do |like| %>
  <li><%= like.user.email %> </li>
<% end %>
</ul>


<%= form_for [@image, @comment] do |form| %>
  <%= render "error_messages", target: @comment %>
  <div>
    <%= form.label :comment %>
    <%= form.text_area :body %>
  </div>
  <%= form.submit %>
<% end %>

<strong>Comments:</strong>
<% @comments.each do |comment| %>
  <%= render "comments/comment", comment: comment %>
<% end %>

