<%= link_to "Back to gallery", @gallery %>

<h2>This is the <%= @image.name %> photo</h2>


<%= form_for [@image.gallery, @image] do |form| %>
  <strong>Groups: </strong><%= form.collection_check_boxes(:group_ids, Group.all, :id, :name) %>
  <%= form.submit "Group Image" %>
<% end %>

<%= form_for [@gallery, @image] do |form| %>
<strong>Tags: </strong><%= form.collection_check_boxes(:tag_ids, @available_tags, :id, :name) %>
<%= form.submit "Update Tags" %>
<% end %>

<div>
<%= image_tag @image.url %>
</div>


<% if @gallery.user == current_user %>
  <%= link_to "Edit this image", edit_gallery_image_path(@gallery, @image) %>
<%end %>

<% if current_user.likes?(@image) %>
  <%= button_to "Unlike this image", image_like_path(@image), method: :delete %>
<% else %>
  <%= button_to "Like this image", image_like_path(@image) %>
<% end %>

<% if ! @image.tags.empty? %>
<strong>Tags: </strong><%= @image.tag_words %>
<% end %>

<ul>
Likes <%= @image.likes.count %>
<% @image.likes.each do |like| %>
  <li><%= like.user.email %> </li>
<% end %>
</ul>


<strong>Comments:</strong>
  <% @comments.each do |comment| %>
    <%= render "comments/comment", comment: comment %>
  <% end %>

<%= form_for [@image, @comment] do |form| %>
  <%= render "error_messages", target: @comment %>
  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>
  <%= form.submit %>
<% end %>

